/*  
.text-center{
    text-align: center;
}

.form-group{
    text-align: center; 
}

.primo{
    text-align: center;   
}
*/
.form-group {
    background: #eff3f8;
    border: 1px solid #eff3f8;
    border-radius: 0px;
    height: 150px;
    margin: 20px auto 0;
    width: 700px;
    margin-top: -10px;
}

#titolo{
        font-size: 80px;
        text-align: center;
        //text-face: "Arial";
    }

    #Autenticazione{
        text-indent: 400px;
        text-align: justify;
    }

.a {

    .text-center{
        //text-indent: 10px;
        text-align: center;
    }
text-indent: 10px;
    
    background: #d2dae4;
    border: 1px solid #a2acb8;
    border-radius: 0px;
    height: 215px;
    margin: 20px auto 0;
    //margin-top: -20px;
    width: 720px;
}

botton, button{
    size:0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #e6edf0;
}