<ul class="nav nav-tabs  nav-tabs-cards" id="myTab" role="tabpanel">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane p-4 fade"id="tab1" role="tabpanel" aria-labelledby="tab1-tab">Contenuto 1</div>
    <div class="tab-pane p-4 fade"id="tab2" role="tabpanel" aria-labelledby="tab2-tab">Contenuto 2</div>
    <div class="tab-pane p-4 fade"id="tab3" role="tabpanel" aria-labelledby="tab3-tab">Contenuto 3</div>
    <div class="tab-pane p-4 fade" id="tab4" role="tabpanel" aria-labelledby="tab3-tab">Contenuto 4 (non raggiungibile, il tab relativo è disabilitato)</div>
  </div>
