<div class='container'>

    <div id="navigation-bar">
        <nav>
            <ul>
                <li><a href="#" id="logo" [routerLink]="['/modulo']">Anagrafiche</a></li>
                <li><a href=#>Misure e lettere</a></li>
                <li><a href=#>Fatturazione</a></li>
                <li><a href=#>Configurazione</a></li>
                <li><a href=#>Reportistica</a></li>
                <li><a href=#>?</a></li>
                <a href="#" id="menu-icon"></a>
            </ul>
        </nav>
    </div>
    <div class='content'>
    </div>

</div>