<div class="form">
  <form>
    <h3>Ricerca Misure</h3>
    <div class="form1">
      <div class="title">
        <label for="Codice Punto">
          Codice Punto
        </label>
        <input
          class="document document3"
          type="text"
          name="Codice Punto"
          id="Codice Punto"
        />
        <label for="Grandezza"></label> Grandezza
        <select name="Grandezza" id="Grandezza" class="document3">
          <option>Coefficiente C per la correzione delle letture gas</option>
          <option>Coefficiente correttore letture gas</option>
          <option>Consumo annuale progressivo</option>
          <option>Consumo annuo progressivo di gas naturale</option>
        </select>
      </div>
      <br />

      <div class="title">
        <label for="Periodo dal">
          Periodo dal
        </label>
        <input
          class="document document1"
          type="text"
          name="Periodo dal"
          id="Periodo dal"
        />

        <label for="al">
          al
        </label>
        <input class="document document1" type="text" name="al" id="al" />
      </div>
      <div class="footer">
        <button type="button" id="pulsante">Cerca</button>
        <button type="button" id="pulsante">Ripulisci</button>
      </div>
    </div>
  </form>
</div>

<app-chiamata
  [path]="this.path"
  [lente]="this.lente"
  [paginationPageSize]="10"
  [ngStyle]="{ width: '3000px' }"
></app-chiamata>
