<div class="form">
  <form method="GET" #f="ngForm" (submit)="cerca(f)">
    <h5>Ricerca Misure</h5>
    <div class="form1">
      <div>
        <label for="Codice Punto">
          Codice Punto
        </label>
        <input
          class="document document3"
          type="text"
          name="Codice Punto"
          id="Codice Punto"
        />
        <label for="Grandezza" id="grandezza-label"> Grandezza</label>
        <select name="Grandezza" id="Grandezza" class="document3">
          <option>Coefficiente C per la correzione delle letture gas</option>
          <option>Coefficiente correttore letture gas</option>
          <option>Consumo annuale progressivo</option>
          <option>Consumo annuo progressivo di gas naturale</option>
        </select>
      </div>
      <div class="content">
        <label for="Periodo dal">
          Periodo dal
        </label>
        <input
          class="document document1"
          type="date"
          name="Periodo dal"
          id="Periodo dal"
        />

        <label for="al">
          al
        </label>
        <input class="document document1" type="date" name="al" id="al" />
      </div>
      <div class="footer">
        <button type="submit" id="pulsante">Cerca</button>
        <button type="button" id="pulsante">Ripulisci</button>
      </div>
    </div>
  </form>
</div>

<app-chiamata
  *ngIf="conferma_chiamata"
  [path]="this.path"
  [lente]="this.lente"
  [paginationPageSize]="10"
></app-chiamata>
