<!--
 <button (click)="toggleSideNav()" id="nasc">show</button>
-->

<div class="sidenav" id="sideNav">
  <!-- <button (click)="toggleSideNav()"></button> -->
  <h1 id="title">ARGON</h1>
  <br>
  <h2 class="text-right">Ambiente di TEST</h2>
  <h2 id="utenza">Benvenuto Utente.nome()</h2>
  <h2 id="accesso">Ultimo accesso: Accesso.data()</h2>
  <br />
  <p id="par">Modulo: Billing</p>
  <p id="par">Azienda: Altran Italia s.p.a.</p>
  
  <div class="container">
    <button type="button" id="button" (click)="show4=!show4">+ </button> Generali
 
    <div id="Billing" *ngIf=show4> Billing
  
    
    </div>
  
  </div>