/* The sidebar menu */
.sidenav {
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 1;
    background-color: #D1D7E2; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0%;
    margin-top: 4%;
  }

  #utenza{
    margin-left: 10%;
    font-size: 110%;
    font-weight: bold;
  
  }

  #accesso{
    margin-left: 10%;
    font-size: 110%;
  
  }

  #par{
    margin-left: 12%;
    margin-top: -6%;
  }


  #title{
    margin-left: 10%;
    font-size: 300%;
    color: rgb(3, 3, 3);
  }

  .text-right{
    text-align: end;
    margin-right: 20%;
    margin-top: -14%;
    font-size: 120%;
    color: rgb(104, 109, 107);
}
  
.container {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  background-color: rgb(244, 249, 252);
  padding: 10px;
  max-width: 85%;
 
}

