.tab-content {
  border-top: 5px solid #d2dae4;
  font-size: 12px;
  background-color: rgb(244, 249, 252);
  width: fit-content;
  font-weight: 700;
  min-height: 200px;
}
.nav {
  height: auto;
  font-weight: 500;
}
.nav-item {
  font-size: small;
  font-display: black;
  background-color: #d2dae4;
  margin-right: 5px;
}

.nav-tabs {
  width: fit-content;
}
