@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
.tab-content {
  border: 10px solid rgb(207, 224, 230);
  font-size: 12px;
  background-color: rgb(244, 249, 252);
  width: auto;
  font-weight: 700;
  min-height: 200px;
}
.nav {
  width: 100%;
  height: auto;
  font-weight: 500;
}
.nav-item {
  font-size: small;
  font-display: black;
  background-color: rgb(207, 224, 230);
  margin-right: 5px;
}

.nav-tabs {
  width: 500px;
}
