

//$ag-header-background-color:  #00a4d6;


.MyHead ag-theme-balham{
    //margin-left:390px;
    //margin-top: 50px;
    //width: 850px;
    //overflow: hidden;
    //display: flex;
    //display: grid;
}

.myHead{
    column-rule-style: solid;
    row-gap: 2px;
    
}

#quadro{
    //min-width: 600px;//inutili
    max-width: 850px;

    margin-left:390px;
    margin-top: 50px;
    //max-height: auto;
    //width: 850px;
    padding: 20px;
    background-color: #e6edf0;

    //overflow: hidden;
    //display: flex;
}

/*

.ag-theme-balham .ag-header-group-cell{
    color: #d4d4d4;
}

.ag-theme-balham .ag-row-selected {
    background-color: #d4d4d4;
}

.ag-cell-lable-container{
    color: #d4d4d4;
}

gridOptions.rowStyle {background: 'black'};
*/