/*  
.text-center{
    text-align: center;
}

.form-group{
    text-align: center; 
}

.primo{
    text-align: center;   
}
*/

.label{
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-group {
    background: #eff3f8;
    border: 1px solid #b3c7e0;
    border-radius: 0px;
    height: 100px;
    margin: 20px auto 0;
    width: 280px;
    margin-top: -10px;
}

#titolo{
    font-size: 80px;
    text-align: center;
    background-color: #859dbb;
    height: 200px;
}

#Autenticazione{
    //text-indent: 400px;
    //text-align: justify;

    //margin-left: 600px;
    margin-left: 40%;
    margin-top: -150px;
}

.a {
    .text-center{
        //text-indent: 10px;
        text-align: center;
    }
    
    text-indent: 10px;
    background: #d2dae4;
    border: 1px solid #a2acb8;
    border-radius: 0px;
    height: 160px;
    margin: 20px auto 0;
    margin-top: 0px;
    width: 300px;
}

#bot{
    size:0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #e6edf0;
}

#recPWD{
    text-align: center;
    color: rgb(19, 18, 18);
}

.form-controll{
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
}

#bar{
    margin-top: -350px;
    height: 80px;
    //border-width: 5px;
    //border-color: black;
    background-color: rgb(190, 190, 190);
    padding: 2px;
    margin-top: -450px;
}

#bar2{
    height: 80px;
    background-color: rgb(255, 255, 255);
}

#bi{
    text-align: center;
    margin-left: 300px;
}

#bia{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    //align-content: center;
}

#b{
    font-size: 20px;
}

.body{
    background-color: #859dbb;
}