<h5>Ricerca Competenze</h5>
<div class="form">
  <form method="GET" #f="ngForm" (submit)="cerca(f)">
    <div class="form1">
      <div class="title">
        <label for="codice_punto">
          codice_punto
        </label>
        <input
          class="document document3"
          type="text"
          name="codice_punto"
          id="codice_punto"
          ngModel
        />

        <label for="podPdr">
          POD/PDR
        </label>
        <input
          class="document document3"
          type="text"
          name="podPdr"
          id="podPdr"
          ngModel
        />
      </div>
      <br />

      <div class="title">
        <label for="periodo_dal">
          periodo_dal
        </label>
        <input
          class="document document1"
          type="date"
          name="periodo_dal"
          id="periodo_dal"
          ngModel
        />

        <label for="al" id="al-label">
          al
        </label>
        <input
          class="document document1"
          type="date"
          name="al"
          id="al"
          ngModel
        />
      </div>
      <div class="footer">
        <button type="submit" id="pulsante">Cerca</button>
        <button type="button" id="pulsante">Ripulisci</button>
      </div>
    </div>
  </form>
</div>

<app-chiamata
  *ngIf="conferma_chiamata"
  [path]="this.path"
  [lente]="false"
  [paginationPageSize]="10"
></app-chiamata>
