<div class="form">
  <form>
    <h3>&nbsp;&nbsp;&nbsp;Ricerca Competenze</h3>
    <div class="form1">
      <div class="title">
        <label for="Codice Punto">
          Codice Punto &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <input
          class="document document3"
          type="text"
          name="Codice Punto"
          id="Codice Punto"
        />

        <label for="Mese">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          POD/PDR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <input class="document document3" type="text" name="Mese" id="Mese" />
      </div>
      <br />

      <div class="title">
        <label for="Periodo dal">
          Periodo dal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <input
          class="document document1"
          type="text"
          name="Periodo dal"
          id="Periodo dal"
        />

        <label for="al">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; al &nbsp;&nbsp;&nbsp;
        </label>
        <input class="document document1" type="text" name="al" id="al" />
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <button type="button" id="pulsante">Cerca</button> &nbsp;&nbsp;&nbsp;
  <button type="button" id="pulsante">Ripulisci</button>
</div>
