<h5>Ricerca Competenze</h5>
<div class="form">
  <form>
    <div class="form1">
      <div class="title">
        <label for="Codice Punto">
          Codice Punto
        </label>
        <input
          class="document document3"
          type="text"
          name="Codice Punto"
          id="Codice Punto"
        />

        <label for="Mese">
          POD/PDR
        </label>
        <input class="document document3" type="text" name="Mese" id="Mese" />
      </div>
      <br />

      <div class="title">
        <label for="Periodo dal">
          Periodo dal
        </label>
        <input
          class="document document1"
          type="text"
          name="Periodo dal"
          id="Periodo dal"
        />

        <label for="al" id="al-label">
          al
        </label>
        <input class="document document1" type="text" name="al" id="al" />
      </div>
      <div class="footer">
        <button type="button" id="pulsante">Cerca</button>
        <button type="button" id="pulsante">Ripulisci</button>
      </div>
    </div>
  </form>
</div>

<app-chiamata
  [path]="this.path"
  [lente]="false"
  [paginationPageSize]="10"
></app-chiamata>
