<h5>Ricerca Righe Riepilogo</h5>
<div class="form">
  <form method="GET" #f="ngForm" (submit)="cerca(f)">
    <div class="form1">
      <label for="Testo">Testo</label>
      <input class="document2 " type="text" name="testo" id="testo" ngModel />
      <div class="spaziatore">
        <label for="Sezione">Sezione</label>
        <select name="Sezione" id="Sezione" class="Sezione">
          <option>Allegati al documento</option>
          <option
            >Allegati inseriti prima della prima pagina del documento</option
          >
          <option>Informazioni relative Area Web</option>
        </select>

        <label for="Quantita" id="quantita-label">
          Quantità
        </label>
        <input
          class="document document1"
          type="text"
          name="quantita"
          id="quantita"
          ngModel
        />
      </div>
      <label for="Prezzo"> Prezzo </label>
      <input
        class="document document1"
        type="text"
        name="prezzo"
        id="prezzo"
        ngModel
      />

      <label for="Importo" id="import-label">
        Importo
      </label>
      <input
        class="document document1"
        type="text"
        name="importo"
        id="importo"
        ngModel
      />
    </div>
    <div class="footer">
      <button class="button" type="submit" id="pulsante">Cerca</button>
      <button class="button" type="button">Ripulisci</button>
    </div>
  </form>
</div>
<app-chiamata
  *ngIf="conferma_chiamata"
  [path]="this.path"
  [lente]="lente"
  [paginationPageSize]="10"
></app-chiamata>
