<div class="form">
  <form>
    <h5>Ricerca Righe Riepilogo</h5>
    <div class="form1">
      <label for="Testo"></label> Testo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="document2 " type="text" name="Testo" id="Testo" />
      <br />
      <br />
      <div class="title">
        <label for="Sezione"></label> Sezione &nbsp;&nbsp;&nbsp;
        <select name="Sezione" id="Sezione" class="Sezione">
          <option>Allegati al documento</option>
          <option
            >Allegati inseriti prima della prima pagina del documento</option
          >
          <option>Informazioni relative Area Web</option>
        </select>

        <label for="Quantita">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quantità &nbsp;&nbsp;
        </label>
        <input
          class="document document1"
          type="text"
          name="Quantita"
          id="Quantita"
        />
      </div>
      <br />
      <div class="title">
        <label for="Prezzo"> Prezzo &nbsp;&nbsp;&nbsp;&nbsp; </label>
        <input
          class="document document1"
          type="text"
          name="Prezzo"
          id="Prezzo"
        />

        <label for="Importo">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Importo &nbsp;&nbsp;&nbsp;
        </label>
        <input
          class="document document1"
          type="text"
          name="Importo"
          id="Importo"
        />
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <button type="button" id="pulsante">Cerca</button> &nbsp;&nbsp;&nbsp;
  <button type="button" id="pulsante">Ripulisci</button>
</div>
