<h5>Ricerca Righe di Calcolo</h5>
<div class="form">
  <form method="GET" #f="ngForm" (submit)="cerca(f)">
    <div class="form1">
      <label for="codice_punto" id="codice-punto-label"></label> Codice Punto

      <input
        class="document4 "
        type="text"
        name="codice_punto"
        id="codice_punto"
        ngModel
      />
      <label for="mese" id="mese-label">
        Mese
      </label>
      <input class="document" type="date" name="mese" id="mese" ngModel />
      <br />
      <label for="testo" id="testo-label">
        Testo
      </label>
      <input class="document" type="text" name="testo" id="testo" ngModel />
      <br />
      <label for="quantita" id="quantita-label">
        Quantità
      </label>
      <input
        class="document "
        type="text"
        name="quantita"
        id="quantita"
        ngModel
      />

      <label for="price" id="price-label">
        Prezzo
      </label>
      <input class="document " type="text" name="price" id="price" ngModel />
      <br />
      <label for="import" id="Import-label"> Importo</label>
      <input class="document" type="text" name="import" id="import" ngModel />
      <div class="footer">
        <button type="submit" id="pulsante">Cerca</button>
        <button type="button" id="ripulisci" (click)="ripulisci(f)">
          Ripulisci
        </button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="conferma_chiamata">
  <app-chiamata [path]="this.path" [paginationPageSize]="10" [check]="true">
  </app-chiamata>

  <br />
  <div *ngIf="open_window">
    <button type="button" id="nuovo" (click)="open()">Nuovo</button>
    <button type="button" id="modifica">Modifica</button>
    <button type="button" id="elimina">Elimina</button>
  </div>
  <div *ngIf="!open_window">
    <h5>Gestione Riga Fattura</h5>
    <div class="form">
      <form>
        <div class="form1">
          Riga del quadro di
          <input
            type="radio"
            name="dettaglio"
            id="dettaglio"
            value="dettaglio"
          />
          <label for="dettaglio">Dettaglio</label>
          <input type="radio" name="sintesi" id="sintesi" value="sintesi" />
          <label for="sintesi">Sintesi</label>
          <br />
          <label for="punto" id="puntoLabel"></label> Punto;
          <select name="punto" id="punto">
            <option>Punto1</option>
            <option>Punto2</option>
            <option>Punto3</option>
          </select>
          <label for="periodo"> Periodo </label>
          <select name="periodo" id="periodo">
            <option>1 gennaio 2017</option>
          </select>
          <label for="componente">
            Componente
          </label>
          <select name="componente" id="componente">
            <option>Componente1</option>
            <option>Componente2</option>
          </select>
          <br />
          <br />
          <div class="title">
            <label for="quantity"> Quantità </label>
            <input
              class="document quantita"
              type="text"
              name="quantity"
              id="quantity"
            />
            ​
            <label for="UDM" id="udm_qta">
              UDM qta
            </label>
            <input
              style="background-color: rgb(236, 232, 232)"
              class="document udm"
              type="text"
              name="UDM"
              id="UDM"
            />
          </div>
          <br />
          <br />
          <div class="title">
            <label for="prezzo"> Prezzo </label>
            <input
              class="document prezzo"
              type="text"
              name="prezzo"
              id="prezzo"
            />
            ​
            <label for="UDM prz" id="udm_prz">
              UDM prz
            </label>
            <input
              style="background-color: rgb(236, 232, 232)"
              class="document udm"
              type="text"
              name="UDM prz"
              id="UDM prz"
            />
            <label for="Import" id="importo-label">
              Importo
            </label>
            <input
              class="document Importo"
              type="text"
              name="Import"
              id="Import"
            />
            ​
            <label for="UDM imp" id="udm_imp">
              UDM imp
            </label>
            <input
              style="background-color: rgb(236, 232, 232)"
              class="document udm"
              type="text"
              name="UDM imp"
              id="UDM imp"
            />
          </div>
          <br />
          <label for="IVA"> IVA </label>
          <select name="IVA" id="IVA">
            <option *ngFor="let iva of ivaList">{{ iva }}</option>
          </select>
          <br />
          <div class="title">
            <label for="fattura" id="fattura-label">
              Forza testo in fattura con
            </label>
            <input
              class="document fattura"
              type="text"
              name="fattura"
              id="fattura"
            />
          </div>
          <div class="footer">
            <button type="button" id="pulsante" (click)="open()">Salva</button>
            <button type="button" id="pulsante">Annulla</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
