input,
textarea {
  width: 180px;
}

#codice-punto-label {
  width: min-content;
}
#codice-punto {
  margin-left: 10px;
}
#mese {
  margin-left: 200px;
}
#price-label {
  margin-left: 280px;
}
#Testo {
  width: 86%;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#import-label {
  width: 40px;
}

#Quantity,
#Price,
#Mese,
#Import {
  width: 100px;
  margin-left: 20px;
  margin-bottom: 8px;
}
.form {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

  font-size: 12px;
  margin-right: 100px;
  background-color: rgb(244, 249, 252);
}

.form1 {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  border: 10px solid #d2dae4;
  font-size: 12px;
  background-color: rgb(244, 249, 252);
  padding: 20px;
  padding-bottom: 0px;
  width: max-content;
}

.footer {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  background-color: 35px solid #d2dae4;
  background-color: #d2dae4;
  padding: 12px;
  margin-left: -20px;
  margin-right: -20px;
}

#pulsante,
#ripulisci,
button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 40px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 12px;
  padding: 2px 45px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  margin-right: 15px;
}

#Sezione {
  width: 35%;
}
h5 {
  margin-bottom: -10px;
  background-color: #d2dae4;
  width: 150px;
  padding: 10px;
  font-size: small;
}
#dettaglio,
#sintesi {
  width: min-content;
  margin-left: 20px;
  margin-right: 10px;
}

#Punto {
  margin-left: 110px;
  height: 25px;
  margin-right: 10px;
  width: 6em;
}
#puntoLabel {
  width: min-content;
}

#Periodo {
  margin-left: 10px;
  height: 25px;
  margin-right: 10px;
}

#Componente {
  margin-left: 10px;
  width: 30em;
  height: 25px;
  margin-right: 10px;
}
#Quantita {
  margin-left: 80px;
  height: 25px;
  margin-right: 10px;
  width: 6em;
}

#Prezzo {
  margin-left: 80px;
  height: 25px;
  margin-right: 10px;
  width: 6em;
}
#Importo {
  width: 6em;
  margin-right: 200px;
}

#Fattura {
  width: 60%;
}

#IVA {
  width: 50%;
  height: 25px;
  margin-left: 80px;
}

#udm_prz,
#udm_imp,
#udm_qta {
  width: 60px;
  margin-right: 10px;
}
label {
  width: 70px;
}
#fattura-label {
  width: 150px;
}

.udm {
  width: 60px;
}
