input,
textarea {
  width: 180px;
}

.document1 {
  width: 10%;
}

.document2 {
  width: 55%;
}

.document3 {
  width: 20%;
}

.document4 {
  width: 80%;
}

.document5 {
  width: 45.2%;
}

.form {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  border: 10px solid rgb(207, 224, 230);
  font-size: 12px;
  background-color: rgb(244, 249, 252);

  margin-left: 120px;
  margin-right: 500px;
}

.form1 {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  border: 10px solid rgb(207, 224, 230);
  font-size: 12px;
  background-color: rgb(244, 249, 252);
  padding: 20px;
}

#title {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  margin-left: 120px;
  margin-right: 500px;
  margin-bottom: 10px;
  font-size: 15px;
}

.footer {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  background-color: 35px solid rgb(207, 224, 230);
  margin-left: 120px;
  margin-right: 500px;
  background-color: rgb(207, 224, 230);
  padding: 12px;
}

#pulsante {
  box-shadow: 3px 4px 0px 0px #899599;

  background-color: #ededed;
  border-radius: 40px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 12px;
  padding: 2px 45px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}

#fisica {
  background-color: rgb(244, 249, 252);
  width: 5%;
}

#giuridica {
  background-color: rgb(244, 249, 252);
  width: 5%;
}

#button {
  color: blue;
}

.testo-blu {
  color: blue;
}

#Testo {
  width: 92%;
}

.DatiBonifico {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: 35px solid rgb(207, 224, 230);
  margin-left: 20px;
  margin-right: 540px;
  margin-top: 10px;
  background-color: rgb(207, 224, 230);
  padding: 8px;
}

#Sezione {
  width: 38%;
}
