input,
textarea {
  width: 180px;
}

.document1 {
  width: 12%;
  margin-right: 10px;
}

.document3 {
  width: 20%;
  margin-right: 2%;
}

.form {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-right: 100px;
  background-color: rgb(244, 249, 252);
}

.form1 {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  border: 10px solid #d2dae4;
  font-size: 12px;
  background-color: rgb(244, 249, 252);
  padding: 20px;
  padding-bottom: 0px;
  width: max-content;
}

.footer {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  background-color: 35px solid #d2dae4;
  background-color: #d2dae4;
  padding: 12px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 10px;
}

#pulsante {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 40px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 12px;
  padding: 2px 45px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  margin-right: 15px;
}

#Sezione {
  width: 35%;
}
label {
  margin-right: 10px;
  width: 90px;
}
#al-label {
  width: min-content;
}
#data-lettura-label {
  width: 100px;
}
