<h5>Ricerca Righe Dettaglio</h5>
<div class="form">
  <form method="GET" #f="ngForm" (submit)="cerca(f)">
    <div class="form1">
      <div class="title">
        <label for="codice_punto">
          Codice Punto
        </label>
        <input
          class="document1"
          type="text"
          name="codice_punto"
          id="codice
        Punto"
          ngModel
        />
        <label for="mese" id="mese-label">
          Mese
        </label>
        <input class="document" type="text" name="mese" id="mese" ngModel />
      </div>
      <label for="Testo">Testo</label>
      <input type="text" name="testo" id="testo" ngModel />
      <br />
      <div class="title">
        <label for="Sezione">Sezione </label>

        <select name="sezione" id="sezione" class="sezione">
          <option>Allegati al documento</option>
          <option
            >Allegati inseriti prima della prima pagina del documento</option
          >
          <option>Informazioni relative Area Web</option>
        </select>
        <label for="quantita" id="quantita-label">
          Quantità
        </label>
        <input
          class="document"
          type="text"
          name="quantita"
          id="quantita"
          ngModel
        />
      </div>
      <div class="title">
        <label for="Prezzo">
          Prezzo
        </label>
        <input
          class="document document1"
          type="text"
          name="prezzo"
          id="prezzo"
          ngModel
        />
        ​
        <label for="Importo" id="import-label">
          Importo
        </label>
        <input
          class="document"
          type="text"
          name="importo"
          id="importo"
          ngModel
        />
      </div>
      <div class="footer">
        <button type="submit" id="pulsante">Cerca</button>
        <button type="button" id="pulsante">Ripulisci</button>
      </div>
    </div>
  </form>
</div>
<app-chiamata
  [path]="this.path"
  [lente]="lente"
  [paginationPageSize]="10"
></app-chiamata>
