
      <h5>&nbsp;&nbsp;&nbsp;Ricerca Righe Dettaglio</h5>
      <div class="form">
        <form>
      <div class='form1'>
          <div class='title'>
              <label for="Codice Punto"> Codice Punto &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <input class='document document1' type='text' name='Codice Punto' id="Codice Punto" />
​
              <label for="Mese" id ="Mese1">
                Mese
              </label>
              <input class='document document1' type='text' name='Mese' id="Mese2" />
          </div>

​            <br>
​
          <label for="Testo"></label>Testo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input class='document document2' type='text' name='Testo' id="Testo" />
          <br>
          <br>
          <div class='title'>
              <label for="Sezione"></label> Sezione&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;
              <select name='Sezione' id="Sezione" class='Sezione'>
                  <option>Allegati al documento</option>
                  <option>Allegati inseriti prima della prima pagina del documento</option>
                  <option>Informazioni relative Area Web</option>
​
              </select>
​               
              <label for="Quantita">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp; Quantità &nbsp;&nbsp;&nbsp;
              </label>
              <input class='document document1' type='text' name='Quantita' id="Mese3" />
          </div>
          <br>
          <div class='title'>
              <label for="Prezzo"> Prezzo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp; &nbsp;&nbsp;
              </label>
              <input class='document document1' type='text' name='Prezzo' id="Prezzo" />
​
              <label for="Importo" id = "Mese1">
                &nbsp;  Importo
              </label>
              <input class='document document1' type='text' name='Importo' id="Mese4" />
          </div>
​
      </div>
  </form>
</div>
<div class='footer'>
  <button type="button" id="pulsante"> Cerca </button> &nbsp;&nbsp;&nbsp;
  <button type="button" id="pulsante"> Ripulisci </button>
</div>