<div class="tabcontainer">
  <app-menu class="tabmenu"></app-menu>
  <app-side-bar class="tabbar"></app-side-bar>
  <div class="page-container">
    <div class="page-form">
      <div class="square">
        <h3 id="title">Testata Documento</h3>
        <div class="form">
          <form>
            <div class="title">
              <label for="IdDocumento"></label> ID Documento
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input
                type="text"
                name="IdDocumento"
                id="IdDocumento"
                [(ngModel)]="doc.idDocumento"
              />
            </div>
            <br />

            <div class="title">
              <label for="Entità Fatt."></label> Entità Fatt.
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input
                type="text"
                name="Entità Fatt."
                id="Entità Fatt."
                [(ngModel)]="doc.cdEntitaFatt"
              />
              <label for="N. Fattura">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; N. Fattura
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;
              </label>
              <input
                type="text"
                name="N. Fattura"
                id="N. Fattura"
                [(ngModel)]="doc.fatturaDef"
              />
            </div>
            <br />
            <div class="title">
              <label for="DataCompetenza"></label> Data competenza dal
              &nbsp;&nbsp;
              <input
                class="document document1"
                type="text"
                name="DataCompetenza"
                id="DataCompetenza"
                [(ngModel)]="doc.dtCompDal"
              />

              <label for="DataCompetenza2"></label> al &nbsp;
              <input
                class="document document1"
                type="text"
                name="DataCompetenza2"
                id="DataCompetenza2"
                [(ngModel)]="doc.dtCompAl"
              />

              <label for="Data scadenza"></label>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data
              scadenza &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input
                class="document document1"
                type="date"
                name="Data scadenza"
                id="Data scadenza"
                [(ngModel)]="doc.dtScadenza"
              />
            </div>
            <br />
            <div class="title">
              <label for="Data Emissione"></label> Data emissione
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input
                type="text"
                name="Data emissione"
                id="Data emissione"
                [(ngModel)]="doc.dtEmissione"
              />
              <label for="Metodo pagamento">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Metodo
                pagamento&nbsp;&nbsp;
              </label>
              <input
                type="text"
                name="Metodo pagamento"
                id="Metodo pagamento"
                [(ngModel)]="doc.dsMetodoPagam"
              />
            </div>

            <br />
            <div class="title">
              <label for="Bancario"></label> Bancario
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <select name="Bancario" id="Bancario" class="document2">
                <option>BANCA - C\C:00000000</option>
                <option>BANCA1 - C\C:11111111</option>
                <option>BANCA2 - C\C:2222222</option>
              </select>
            </div>
            <br />
            <hr />
            <div class="title">
              <label for="TipoDocumento"></label> Tipo Documento &nbsp;&nbsp;
              <input
                class="document document3"
                type="text"
                name="TipoDocumento"
                id="TipoDocumento"
                [(ngModel)]="doc.dsTpDocumento"
              />

              <label for="Stato"></label> Stato
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
              <input
                class="document document3"
                type="text"
                name="Stato"
                id="Stato"
                [(ngModel)]="doc.dsStato"
              />

              <label for="Stato FE"></label>
              &nbsp;&nbsp; Stato FE &nbsp;&nbsp;
              <input
                class="document document3"
                type="text"
                name="Stato FE"
                id="Stato FE"
                [(ngModel)]="doc.dsStatoSdi"
              />
            </div>
            <br />

            <div class="title">
              <label for="Importo fattura"></label> Importo fattura
              &nbsp;&nbsp;&nbsp;
              <input
                class="document document1"
                type="text"
                name="Importo fattura"
                id="Importo fattura"
                [(ngModel)]="doc.importo"
              />
              <label for="Da pagare">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Da pagare
                &nbsp;&nbsp;
              </label>
              <input
                class="document document1"
                type="text"
                name="Da pagare"
                id="Da pagare"
                [(ngModel)]="doc.daPagare"
              />
            </div>
            <br />
            <div class="title">
              <label for="A storno di"></label> A storno di
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input
                class="document document3"
                type="text"
                name="A storno di"
                id="A storno di"
                [(ngModel)]="doc.fatturaDefStorno"
              />

              <label for="Data calcolo"></label> Data calcolo

              <input
                class="document document3"
                type="text"
                name="Data calcolo"
                id="Data calcolo"
                [(ngModel)]="doc.dtCalcolo"
              />

              <label for="N. Lotto"></label>
              &nbsp;&nbsp;&nbsp; N. Lotto &nbsp;&nbsp;
              <input
                class="document document3"
                type="text"
                name="N. Lotto"
                id="N. Lotto"
                [(ngModel)]="doc.idLotto"
              />
            </div>
            <br />
            <hr />
            <div class="title">
              <label for="Cod Intestatario"></label>
              Cod Intestatario &nbsp;&nbsp;
              <input
                class="document document3"
                type="text"
                name="Cod intestatario"
                id="Cod Intestatario"
                [(ngModel)]="doc.cdIntestatario"
              />
            </div>
            <br />

            <div class="title">
              <label for="Denominazione Intestatario"></label> Denominazione
              Intestatario
              <br />
              <input
                class="document document4"
                type="text"
                name="Denominazione Intestatario"
                id="Denominazione Intestatario"
                [(ngModel)]="doc.dsIntestatario"
              />
              <br />
              <hr />
              <label for="Denominazion"></label> Destinazione
              <br />
              <input
                class="document document4"
                type="text"
                name="Destinazione"
                id="Destinazione"
                [(ngModel)]="doc.destinatario"
              />
            </div>
            <br />
            <div class="title">
              <label for="ResidenzaSede"></label> Indirizzo - Cap - Località -
              Prov.
              <br />
              <input
                class="document document5"
                type="text"
                name="ResidenzaSede"
                id="ResidenzaSede"
                [(ngModel)]="doc.indirizzoDest"
              />
              <input
                type="text"
                name="ResidenzaSede1"
                id="ResidenzaSede1"
                [(ngModel)]="doc.capDest"
              />
              <input
                type="text"
                name="ResidenzaSede2"
                id="ResidenzaSede2"
                [(ngModel)]="doc.localitaDest"
              />
              <input
                class="document document1"
                type="text"
                name="ResidenzaSede3"
                id="ResidenzaSede3"
                [(ngModel)]="doc.provDest"
              />
            </div>
          </form>
        </div>
        <div class="footer">
          <button type="button" id="pulsante">Salva</button> &nbsp;&nbsp;
          <button type="button" id="pulsante">Torna</button>
        </div>

        <div>
          <app-tab
            class="tab"
            [tabPaneItems]="tabPaneItems"
            [tabItems]="tabItems"
          ></app-tab>
        </div>
      </div>
    </div>
  </div>
</div>
