label {
  margin-left: 10px;
  width: 110px;
  margin-bottom: 30px;
}

p {
  margin-left: 10px;
  font-size: medium;
  margin-right: 100%;
}

.text {
  text-align: right;
}
app-chiamata {
  width: 100%;
}
